html{
	font-family: helvetica,sans-serif;
}

textarea{
	box-sizing:border-box;
	border-style: hidden;
	font-size: 20pt;
	padding: 20px
	resize:none;
	width: 250px;
	height: 720px;
	color: white;
	background-color: lightgrey;

}

#content{
	box-sizing:border-box;
	margin: none;
}
