html{
	font-family: helvetica,sans-serif;
}

#type,#content{
	float:left;
	display: inline;

}

textarea{
	margin-top: 50px;
	box-sizing:border-box;
	border-style: hidden;
	font-size: 35pt;
	font-weight: bolder;
	padding: 20px;
	resize:none;
	width: 250px;
	height: 720px;
	color: white;
	background-color: lightgrey;

}

#content{
	box-sizing:border-box;

}
