html{
	font-family: helvetica,sans-serif;
}

textarea{
	box-sizing:border-box;
	border-style: none;
	resize:none;
	width: 200px;
	height: 200px;
	color: white;
	background-color: lightgrey;

}

#content{
	box-sizing:border-box;
	margin: none;
}
